<h2>My Heroes</h2>

<div>
  <label>
    Hero name:
    <input id="heroNameInput" #heroName />
  </label>
  <button id="heroAddButton" (click)="add(heroName.value); heroName.value=''">Add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>
      <span class="hero-name">{{hero.name}}</span>
    </a>
    <button class="delete" title="delete {{hero.name}}"
            (click)="delete(hero)">
      x
    </button>
  </li>
</ul>

